/*Configuração geral*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --corPrin: #0A3A7C;
    --corSecu: #D4E0FA;
    --corTer: #010D49;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* NavBar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A3A7C;
    padding: 20px 30px;
    color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar.hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.navbar-logo img {
    height: 40px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 45px;
    margin: 0;
}

.navbar-links li a {
    text-decoration: none;
    color: #010D49;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-links li a:hover {
    color: #0074cc;
}

/* Botão de menu hambúrguer */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle img {
    width: 30px;
    height: 30px;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-links.closing {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        padding: 15px;
    }

    .navbar-left {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .menu-toggle {
        display: block;
    }

    .navbar-links {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        display: none;
        text-align: center;
        background-color: #fff;
        width: 100%;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }


    .navbar-links.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);  
    }
}

@media (max-width: 600px) {
    .navbar {
        padding: 15px;
    }

    .navbar-links {
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px;
    }

    .navbar-logo img {
        height: 30px;
    }

    .navbar-links {
        gap: 10px;
    }

    .navbar-links li a {
        font-size: 14px;
    }
    .menu-toggle img {
        height: 20px;
    }
}

/*Estilo da Headline*/

.headline {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--corPrin);
}

.headline img {
    z-index: 1;
}

.container-h {
    height: 10%;
    background-color: var(--corTer);
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    z-index: 3;
}

.container-h h1 {
    color: white;
    text-shadow: 2.5px 1.5px black;
    font-size: 30px;
    padding: 5px;
}

.container-h h4 {
    color: white;
    text-shadow: 1.5px 1.5px black;
    font-size: 15px;
    padding: 5px;
}

/* Responsividade */
@media (max-width: 768px){
    .headline{
        flex-direction: column-reverse;
    }
    
    .headline img{
        width: 60%;
    }

    .container-h{
        width: 100%;
        border-radius: 0px;
    }
}

/*Estilo da area de emprego*/

.emprego{
    width: 100%;
    height: auto;
    background-color: var(--corPrin);
    padding-bottom: 10px;
}

.emprego h2{
    color: white;
    text-shadow: 2.5px 1.5px black;
    font-size: 25px;
    padding: 5px;
}

.emprego ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.emprego li{
    list-style-type: none;
    width: 20%;
    height: auto;
    padding: 10px;
    background-color: var(--corTer);
    text-align: center;
    border-radius: 20px;
}

@media (max-width: 768px){
    .emprego h2{
        font-size: 20px;
        text-align: center;
    }

    .emprego li{
        font-size: 10px;
    }
}